.vscode

# Ignora la carpetas node_modules
/ejerciciosSinResolver/Curso JS Moderno/51-Testing-Jest/node_modules/
/ejerciciosSinResolver/Curso JS Moderno/52-Testing-Cypress/node_modules/
/ejerciciosSinResolver/Curso JS Moderno/53-agenciaViajesNode/node_modules/
/ejerciciosSinResolver/Curso JS Moderno/53-agenciaViajesNode/agenciaviajes.dump/
/ejerciciosSinResolver/Curso JS Moderno/54-cotizadorPrestamosReact/node_modules/
/ejerciciosSinResolver/Curso JS Moderno/55-cotizadorPrestamosVue/node_modules/
/ejerciciosSinResolver/Curso JS Moderno/56-fullStackJs/backend/node_modules/
/ejerciciosSinResolver/Curso JS Moderno/56-fullStackJs/backend/.env/
